<% unless klass.lookup_keys.empty? -%>
  <div class="control-group" id="puppetclass_<%= klass.id %>_params">
    <label class="control-label"><%= klass.name %></label>
    <% klass.lookup_keys.each do |key| -%>
      <div class="controls">
        <% name = key.key
           value = key.value_before_type_cast(key.value_for host, host_facts) -%>
        <%= text_field_tag "name_#{name}", name, :class => "span2", :disabled => true %>
        <%= text_area_tag "value_#{value}", value, :rows => 2, :class => "span7", :disabled => true %>
        <span class="help-inline">
          <%= link_to_function(icon_text("random"), "override_param(this)", :title => "Override this value") if authorized_via_my_scope("host_editing", "create_params") %>
        </span>
      </div>
    <% end -%>
  </div>
<% end -%>
